*{
    margin: 0;
    padding:auto;
}
body{
  border: 2px solid black;
  padding: 25px;
  background: url(resort.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 10px;
    background-color:silver;
    border: 1px solid yellow;
    border-radius: 5px;
  }

  .form-group {
    margin-bottom: 30px;
  }

  label {
    display: block;
    font-weight: bold;
  }

  input[type="text"],
  input[type="email"],
  input[type="date"],
  input[type="number"] {
    width: 90%;
    padding: 5px;
    border-radius: 35px;
    border: 5px solid yellow;
    border-color:rgb(126, 110, 17);
  }

  select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid yellow;
  }

  input[type="checkbox"] {
    margin-right: 5px;
  }

  input[type="submit"] {
    background-color: red;
    color:goldenrod;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-style: inherit;
    position: centre;
  }
  .form-group input[type="submit"]:hover {
    background-color: rgb(105, 84, 9);
    color: rgb(214, 211, 214);
  }

  input[readonly] {
    background-color:beige;
    cursor: not-allowed;
  }